.list-adv {
  font-size: 2.3rem;
  padding: 4em 0;
}

.la-group {
  width: 60rem;
  text-align: justify;
}

.la-group p {
  margin: 0 1.5em 1em;
}

.links-lr a {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 1em;
}