<app-template>
  <div class="container mx-auto mt-3">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row">
          Publishers
          <button (click)="openDialog()" class="ml-auto" mat-raised-button color="primary">
            Add New
          </button>
        </div>
      </mat-card-title>
      <mat-card-content>
        <p>
          Here are the publishers of the comics
        </p>
        <p>
          Search for any keyword in the table.
        </p>
        <mat-form-field class="w-100">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center center" class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
        </div>

          <table [hidden]="dataSource.loading$ | async" mat-table [dataSource]="dataSource" matSort class="mat-elevation-0 w-100">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="imageIcon">
              <th mat-header-cell *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef>
                <button mat-icon-button>
                  <mat-icon color="primary">image</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="issues">
              <th mat-header-cell *matHeaderCellDef>Issues</th>
              <td mat-cell *matCellDef="let element">{{element.issues}}</td>
            </ng-container>


            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">{{element.description | limitWords: 10}}...
                <button mat-button href="#">full description</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th class="text-align-center" mat-header-cell *matHeaderCellDef>Actions</th>
              <td class="text-align-center" mat-cell *matCellDef="let element">
                <span class="mr-2">
                  <button mat-icon-button>
                    <mat-icon color="primary">edit</mat-icon>
                  </button>
                </span>
                <span>
                  <button mat-icon-button (click)="delete(element.id)">
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
                </span>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        <mat-paginator [length]="dataSource.length$ | async"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</app-template>

