<form [formGroup]="comicForm" (submit)="onSubmit()">
  <h1 mat-dialog-title>Add New Comic</h1>
  <p class="py-3 error-message" *ngIf="customError !== ''">
    {{customError}}
  </p>
  <div mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex>
        <div class="d-block">
          <mat-form-field class="w-100">
            <input formControlName="name" matInput placeholder="Name">
            <mat-error *ngIf="comicForm.get('name').hasError('required')">
              The name field is required
            </mat-error>

            <mat-error *ngIf="comicForm.get('name').hasError('minlength')">
              Minimum length is 3
            </mat-error>

            <mat-error *ngIf="comicForm.get('name').hasError('maxlength')">
              Maximum length is 50
            </mat-error>

            <mat-error *ngFor="let error of displayErrors('name')">
              {{error}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-block">
          <mat-form-field class="w-100">
            <input formControlName="issues" matInput placeholder="Issues">
            <mat-error *ngIf="comicForm.get('issues').hasError('required')">
              The issues field is required
            </mat-error>

            <mat-error *ngIf="comicForm.get('issues').hasError('regex')">
              Issues must be a number
            </mat-error>

            <mat-error *ngFor="let error of displayErrors('issues')">
              {{error}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-block">
          <mat-form-field class="w-100">
            <textarea formControlName="description" matInput
              placeholder="Description"></textarea>
            <mat-error *ngIf="comicForm.get('description').hasError('required')">
              The description field is required
            </mat-error>

            <mat-error *ngIf="comicForm.get('description').hasError('minlength')">
              Minimum length is 10
            </mat-error>

            <mat-error *ngIf="comicForm.get('description').hasError('maxlength')">
              Maximum length is 700
            </mat-error>

            <mat-error *ngFor="let error of displayErrors('description')">
              {{error}}
            </mat-error>

          </mat-form-field>
        </div>

        <div class="d-block">
          <mat-form-field class="w-100">
            <mat-label>Genres</mat-label>
            <mat-select formControlName="genres" multiple>
              <mat-option *ngFor="let g of genres" [value]="g.id">{{g.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="comicForm.get('genres').hasError('required')">
              At least 1 must be selected
            </mat-error>

            <mat-error *ngFor="let error of displayErrors('genres')">
              {{error}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-block">
          <mat-form-field class="w-100">
            <mat-label>Authors</mat-label>
            <mat-select formControlName="authors" multiple>
              <mat-option *ngFor="let a of authors" [value]="a.id" required>{{a.fullName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="comicForm.get('authors').hasError('required')">
              At least 1 must be selected
            </mat-error>

            <mat-error *ngFor="let error of displayErrors('authors')">
              {{error}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-block">
          <mat-form-field class="w-100">
            <mat-label>Publisher</mat-label>
            <mat-select formControlName="publisher">
              <mat-option [value]="p.id" *ngFor="let p of publishers">{{p.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="comicForm.get('publisher').hasError('required')">
              At least 1 must be selected
            </mat-error>

            <mat-error *ngFor="let error of displayErrors('publisher')">
              {{error}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-block">
          <mat-form-field>
            <input matInput formControlName="publishedAt" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
              placeholder="Published at:">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-error *ngIf="comicForm.get('publishedAt').hasError('required') && comicForm.get('publishedAt').touched">
            The datepicker is required
          </mat-error>

          <mat-error
            *ngIf="comicForm.get('publishedAt').hasError('matDatepickerMin')">
            Minimum value is 01.01.1970
          </mat-error>

          <mat-error *ngIf="comicForm.get('publishedAt').hasError('matDatepickerMax')">
            Maximum value is today's date
          </mat-error>
        </div>

      </div>
      <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
        <input (input)="preview(file.files)" formControlName="image" #file type="file" accept="image/*" class="file-upload"  />
        <button type="button" mat-button color="primary" (click)="onUploadClick(file)">
          <mat-icon>file_upload</mat-icon>
          Upload Image
        </button>
        <img class="img-fluid" [src]="imgUrl" *ngIf="imgUrl" />
        <mat-error *ngIf="comicForm.get('image').hasError('required') && comicForm.get('image').touched">
          The image is required
        </mat-error>

        <mat-error *ngFor="let error of displayErrors('image')">
          {{error}}
        </mat-error>
      </div>

    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" [disabled]="!comicForm.valid" color="primary">
      {{btnText}}
    </button>
    <button mat-raised-button type="button" (click)="onNoClick()" color="warn">Cancel</button>
  </div>
</form>
