<form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Manage author</h1>
  <p class="py-3 error-message" *ngIf="customError !== ''">
    {{customError}}
  </p>
  <div mat-dialog-content>

    <div class="d-block mb-3">
      <mat-form-field class="w-100 mb-3">
        <input (input)="clearError()" formControlName="firstname" matInput placeholder="First Name">
        <mat-error *ngIf="authorForm.get('firstname').hasError('required')">
          The first name field is required
        </mat-error>
        <mat-error *ngIf="authorForm.get('firstname').hasError('regex')">
          Fist name must be capitalized and can contain only letters
        </mat-error>
        <mat-error *ngFor="let error of displayErrors('firstname')">
          {{error}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="d-block">
      <mat-form-field class="w-100 mb-3">
        <input (input)="clearError()" formControlName="lastname" matInput placeholder="Last Name">
        <mat-error *ngIf="authorForm.get('lastname').hasError('required')">
          The last name field is required
        </mat-error>
        <mat-error *ngIf="authorForm.get('lastname').hasError('regex')">
          Last name must be capitalized and can contain only letters
        </mat-error>
        <mat-error *ngFor="let error of displayErrors('lastname')">
          {{error}}
        </mat-error>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" [disabled]="!authorForm.valid" color="primary">
      {{btnText}}
    </button>
    <button mat-raised-button type="button" (click)="onNoClick()" color="warn">Cancel</button>
  </div>
</form>
