<app-template>
  <div class='flex-col center'>
    <div class='browse-container row-no-wrap'>
      <div class='filters'>
        <h1 class='text-center heading'>Filters</h1>
        <ul>
          <li>
            <div class='title'>
              <span>Filters</span> <i class="fas fa-caret-up"></i>
            </div>
            <ul class='sub-items'>
              <li>
                <label class='custom-checkbox'>
                  <span class='search-text'>Filter1</span>
                  <input class='filter' type='checkbox' value='1' />
                  <span class='checkmark'></span>
                </label>
              </li>

              <li>
                <label class='custom-checkbox'>
                  <span class='search-text'>Filter3</span>
                  <input class='filter' type='checkbox' value='2' />
                  <span class='checkmark'></span>
                </label>
              </li>

              <li>
                <label class='custom-checkbox'>
                  <span class='search-text'>Filter2</span>
                  <input class='filter' type='checkbox' value='3' />
                  <span class='checkmark'></span>
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class='comics flex-row center'>
        <div>
          <p>Comic1</p>
          <p>Comic2</p>
          <p>Comic3</p>
        </div>
      </div>
    </div>
    <div class='comics-control'>
    </div>
  </div>
</app-template>