<nav class='log-reg flex-row nav center'>
  <h1>
    <a class='logo' href='/index.php'>MyComicsList</a>
  </h1>
  <ul> 
    <!-- TODO: if statements -->
    <li><a [routerLink]="['/panel']" class='btn-style'>Admin panel</a></li>

    <li><a [routerLink]="['/logout']" class='btn-style'>Logout</a></li>

    <li><a [routerLink]="['/login']" class='btn-style open-modal-login'>Login</a></li>

    <li><a [routerLink]="['/register']" class='btn-style open-modal-register'>Register</a></li>
  </ul>
</nav>

<nav class='navigation nav center'>
  <ul>
    <li><a [routerLink]="['/dashboard']">Home</a></li>
    <li><a [routerLink]="['/dashboard']">Browse</a></li>
    <li><a [routerLink]="['/dashboard']">MyList</a></li>
    <li><a [routerLink]="['/dashboard']">About</a></li>
  </ul>
</nav>
