<app-template>
  <app-advertisement [showMessage]="true"></app-advertisement>

  <div class='wrapper-for-comics flex-row center'>
    <div class='comic'>
      <img src='../../assets/images/hypnotize.png' alt='comic1' />
      <div class='ar-btn'>
        <a href='#' class='btn-style bs-white add-to-list remove'>Remove</a>
      </div>
      <h2>Comic 1</h2>
      <p class='scroll'>Description...</p>
      <div class='info'>
        <p><strong>Issues/Chapters: </strong>55</p>
      </div>
    </div>
  </div>
</app-template>