.section-filter {
  background-color: rgba(92, 107, 192, 0.6);
  padding: 5em 0;
  align-items: flex-start;
}

.sf-article {
  width: 650px;
  text-align: center;
}

.sf-article h3 {
  font-size: .65em;
  font-weight: bold;
  padding-bottom: 2em;
  letter-spacing: .5em;
  margin-bottom: 0;
  color: white;
  text-shadow: 3px 4px 3px grey;
}

.section-filter a {
  color: black;
  font-size: 1.2rem;
  padding-right: .7em;
  display: inline-block;
  line-height: 1.5em;
}

.section-filter a:nth-child(even) {
  font-size: 1.8rem;
}

.section-filter a:nth-child(5n+2) {
  font-size: 1.5rem;
}

a.filter:hover,
a.filter:focus {
  color: white;
}
