.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .5em;
    font-size: 1rem;
}

.logo-img {
    width: 30px;
    margin-right: 1em;
}

.navigation button {
    font-size: 1rem;
}