.logo a {
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    color: white;
    font-size: 1.5rem;

}

.logo a:focus {
    color: white;
}

.logo-img {
    width: 30px;
    margin-right: 1em;
}

.navigation button {
    font-family: 'Bangers', cursive;
    font-size: 1.1rem;
    letter-spacing: .1em;
}