<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card class="app-screen-form">
        <mat-card-header>
          <mat-card-title>Welcome to MyComicsList!</mat-card-title>
          <mat-card-subtitle>Please Login</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="px-2 py-3">
            <div fxLayout="column">
              <div class="d-block">
                <mat-form-field class="w-100 mb-3">
                  <input formControlName="username" matInput placeholder="Username">
                  <mat-error *ngIf="loginForm.get('username').hasError('required')">
                    The username field is required
                  </mat-error>
                  <mat-error *ngFor="let error of displayErrors('username')">
                    {{error}}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="d-block">
                <mat-form-field class="w-100">
                  <input formControlName="password" type="password" matInput placeholder="Password">
                  <mat-error *ngFor="let error of displayErrors('password')">
                    {{error}}
                  </mat-error>
                </mat-form-field>

              </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" [disabled]="!loginForm.valid" mat-button>Login</button>
        </mat-card-actions>
    </mat-card>
  </form>
</div>
