 <mat-card class="example-card">
  <mat-card-header class="card-header">
    <mat-card-title>{{comic.name}}</mat-card-title>
    <mat-card-subtitle>
        <ng-container *ngFor="let author of comic.authors; let i = index">
          <span>{{author}}</span>
          <span *ngIf="i !== comic.authors.length - 1">, </span>
        </ng-container>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{comic.pictures[0]}}" alt="{{comic.name}}">
  <mat-card-content class="card-content">
    <p class="description">
      {{comic.description}}
    </p>

    <section fxLayout="column" gdAlignRows="end" class="additional-info">
        <p>{{comic.publishedAt | date}}</p>
        <p>{{comic.publisher}}</p>
        <p>Chapters: {{comic.issues}}</p>
    </section>
  </mat-card-content>
</mat-card>
