<app-template>
  <div class="container mx-auto mt-3">
    <mat-card>
      <p>
        Welcome to the Dashboard. Take a look around, you can modify all the things here.
      </p>
      <p>
        Any functionality in here comes from the API, so refer to the documentation for
        integrations or 3rd party tools.
      </p>
      <div class="controls">
        <a
          href="https://chibi97.github.io/MyComicList-.NET-Core-App/#operation/AuthPost"
          class="mt-3" color="primary"
          mat-raised-button
          target="_blank">
          API Documentation
        </a>
      </div>
    </mat-card>
  </div>
</app-template>
