.slide {
  width: 100vw;
  height: 500px;
  background-size: cover !important;
  background-position: left center !important;
}

.slider-wrapper {
  width: 100vw;
}

.red {
  background: #333;
}

h1 {
  color: white;
}
