<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card class="app-screen-form">
      <mat-card-header>
        <mat-card-title>Welcome to MyComicsList!</mat-card-title>
        <mat-card-subtitle>Please Register
          <p class="py-3 error-message" *ngIf="customError !== ''">
            {{customError}}
          </p>
        </mat-card-subtitle>
        
      </mat-card-header>
      <mat-card-content class="px-2 py-3">
        <div fxLayout="column">
          <div class="d-block">
            <mat-form-field class="w-100 mb-2">
              <input formControlName="email" matInput placeholder="Email">
              <mat-error *ngIf="registerForm.get('email').hasError('required')">
                The email field is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('email').hasError('email')">
                The email field must be a valid email
              </mat-error>
              <mat-error *ngIf="registerForm.get('email').hasError('maxlength')">
                Maximum number of characters is 50
              </mat-error>
              <mat-error *ngFor="let error of displayErrors('email')">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="d-block">
            <mat-form-field class="w-100 mb-2">
              <input formControlName="username" matInput placeholder="Username">
              <mat-error *ngIf="registerForm.get('username').hasError('required')">
                The username field is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('username').hasError('minlength')">
                Minimum number of characters is 3
              </mat-error>
              <mat-error *ngFor="let error of displayErrors('username')">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="d-block" [class.invalid-5]="hasBackendErrors('password')">
            <mat-form-field class="w-100 mb-2">
              <input formControlName="password" type="password" matInput placeholder="Password">
              <mat-error *ngIf="registerForm.get('password').hasError('required')">
                The password field is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('password').hasError('maxlength')">
                Maximum number of characters is 50
              </mat-error>
              <mat-error *ngIf="registerForm.get('password').hasError('pattern')">
                Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one of
                these: @ $ ! % * ? & special characters
              </mat-error>
              <mat-error *ngFor="let error of displayErrors('password')">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="d-block">
            <mat-form-field class="w-100 mb-2">
              <input formControlName="firstName" matInput placeholder="First Name">
              <mat-error *ngIf="registerForm.get('firstName').hasError('required')">
                The first name field is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('firstName').hasError('pattern')">
                First name must be capitalized and can contain only letters
              </mat-error>
              <mat-error *ngFor="let error of displayErrors('firstName')">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="d-block">
            <mat-form-field class="w-100 mb-2">
              <input formControlName="lastName" matInput placeholder="Last Name">
              <mat-error *ngIf="registerForm.get('lastName').hasError('required')">
                The last name field is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('lastName').hasError('pattern')">
                Last name must be capitalized and can contain only letters
              </mat-error>
              <mat-error *ngFor="let error of displayErrors('lastName')">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>


        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" [disabled]="!registerForm.valid" mat-button>Register</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
