<h1 mat-dialog-title>
  {{comic.name}}
</h1>
<div mat-dialog-content>
    <p>{{comic.description}}</p>
    <p class="headline">Genres:</p>

    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile *ngFor="let g of comic.genres">{{g}}</mat-grid-tile>
    </mat-grid-list>

    <p class="headline">Authors:</p>
    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile *ngFor="let a of comic.authors">{{a}}</mat-grid-tile>
    </mat-grid-list>

    <p class="headline">Publisher:</p>
    <mat-list>
      <mat-list-item> {{comic.publisher}} </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions>
  <button class="ml-auto" color="primary" mat-raised-button (click)="onClose()">Close Preview</button>
</div>
