<form [formGroup]="publisherForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Manage publisher</h1>
  <p class="py-3 error-message" *ngIf="customError !== ''">
    {{customError}}
  </p>
  <div mat-dialog-content>

    <div class="d-block mb-3">
      <mat-form-field class="w-100 mb-3">
        <input (input)="clearError()" formControlName="name" matInput placeholder="Name">
        <mat-error *ngIf="publisherForm.get('name').hasError('required')">
          The name field is required
        </mat-error>
        <mat-error *ngIf="publisherForm.get('name').hasError('regex')">
          Name must be capitalized and can contain only letters
        </mat-error>
        <mat-error *ngFor="let error of displayErrors('name')">
            {{error}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="d-block">
      <mat-form-field class="w-100 mb-3">
        <input (input)="clearError()" formControlName="origin" matInput placeholder="Origin">
        <mat-error *ngIf="publisherForm.get('origin').hasError('required')">
          The origin field is required
        </mat-error>
        <mat-error *ngIf="publisherForm.get('origin').hasError('regex')">
          Origin must be capitalized and can contain only letters
        </mat-error>
        <mat-error *ngFor="let error of displayErrors('origin')">
            {{error}}
          </mat-error>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" [disabled]="!publisherForm.valid" color="primary">
      {{btnText}}
    </button>
    <button mat-raised-button type="button" (click)="onNoClick()" color="warn">Cancel</button>
  </div>
</form>
