
.mycontainer {
    display: flex;
    margin: 1em 2em;

    .browse-filters {
      margin-right: 1em;
      width: 50rem;
        .headline {
            font-size: 1em;
            font-weight: bold;
            padding-bottom: 1em;
            letter-spacing: 0.3em;
            color: #5c6bc0;
            text-transform: uppercase;
        }
    }

    .thecomic {
      margin: 0 1em;
    }

    .filters {
      display: flex;

      .col {
        display: flex;
        flex-direction: column;
        flex: 1 0 25%;

        .chb {
          padding: .5em;
        }
      }
    }

    .no-msg {
        margin-left: 2em;
    }

}