
<app-layout>
  <div class="container p-5">
    <ng-container *ngIf="allComics.length > 0; else elseTemplate">
      <div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="10px">
        <app-comic class="m-3" fxFlex="0 1 calc(33.3% - 10px - 2rem)" *ngFor="let comic of allComics" [comic]="comic">
        </app-comic>
      </div>
      <mat-paginator [length]="this.pagiLength" [pageSize]="this.pageSize"></mat-paginator>
    </ng-container>
    <ng-template #elseTemplate>
      <h1>No Data has been loaded</h1>
    </ng-template>
  </div>
</app-layout>
