
<app-layout>
  <div class="mycontainer p-5">
     <aside class="browse-filters">
       <mat-card>
         <mat-card-content>
           <h2 class="headline">Filters</h2>
           <section class="filters">
             <article class="first-col col">
               <ng-container *ngFor='let g of allGenres'>
                  <mat-checkbox (change)="selectFilter($event)" class="chb" [value]="g.id"  [checked]="isChecked(g.id)" color="primary">{{g.name}}</mat-checkbox>
               </ng-container>
             </article>
           </section>
         </mat-card-content>
      </mat-card>
     </aside>
    <ng-container *ngIf="allComics.length > 0; else elseTemplate">
      <div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="10px">
        <app-comic
          class="thecomic"
          fxFlex="0 1 calc(33.3% - 10px - 2rem)"
          *ngFor="let comic of allComics; let i = index"
          [comic]="comic"
          >
        </app-comic>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <h1 class="no-msg">No data, sorry.</h1>
    </ng-template>
  </div>
  <mat-paginator (page)="fetchData($event)" [length]="totalCount" [pageSize]="pageSize"
    showFirstLastButtons></mat-paginator>

</app-layout>
