<section class='section-filter flex-row center'>
  <article class='sf-article'>
    <h3>BROWSE BY FILTERS</h3>
    <a [routerLink]="['/dashboard']" class='filter'>Action</a>
    <a [routerLink]="['/dashboard']" class='filter'>Crime</a>
    <a [routerLink]="['/dashboard']" class='filter'>Fantasy</a>
    <a [routerLink]="['/dashboard']" class='filter'>Horror</a>
    <a [routerLink]="['/dashboard']" class='filter'>Science Fiction</a>
    <a [routerLink]="['/dashboard']" class='filter'>War</a>
    <a [routerLink]="['/dashboard']" class='filter'>Superhero</a>
    <a [routerLink]="['/dashboard']" class='filter'>Mystery</a>
    <a [routerLink]="['/dashboard']" class='filter'>Adventure</a>
    <a [routerLink]="['/dashboard']" class='filter'>Drama</a>
    <a [routerLink]="['/dashboard']" class='filter'>Seinen</a>
    <a [routerLink]="['/dashboard']" class='filter'>Shounen</a>
    <a [routerLink]="['/dashboard']" class='filter'>Comedy</a>
    <a [routerLink]="['/dashboard']" class='filter'>Marvel</a>
    <a [routerLink]="['/dashboard']" class='filter'>DC Comics</a>
    <a [routerLink]="['/dashboard']" class='filter'>Shounen Jump</a>
    <a [routerLink]="['/dashboard']" class='filter'>Vertigo</a>
    <a [routerLink]="['/dashboard']" class='filter'>Shueisha</a>
  </article>
</section>