/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import 'theme.scss';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|Bangers');

body {
  color: #333;
  font-family: 'Raleway', sans-serif;
  background-image: url('./assets/images/hypnotize.png');
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.spacer, .f-1-1 {
  flex: 1 1 auto;
}

.is-fullheight {
  min-height: 100vh;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.p-5 {
  padding: 1.5rem;
}

.px-2 {
  padding-left: .55rem !important;
  padding-right: .55rem !important;
}

.py-2 {
  padding-top: .55rem;
  padding-bottom: .55rem;
}


.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.m-3 {
  margin: 1rem !important;
}

.mr-1 {
  margin-right: .35rem;
}

.mr-2 {
  margin-right: .35rem;
}

.mb-2 {
  margin-bottom: .55rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-3 {
  margin-top: 1rem !important;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.text-align-center {
  text-align: center !important;
}
