@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|Bangers');

/* utils */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Raleway', sans-serif;
  background-image: url("./assets/images/hypnotize.png");
  background-repeat: repeat;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
  background: #666A86;
  font-family: 'Bangers', cursive;
}

h1,
h2 {
  font-family: 'Bangers', cursive;
}

.btn-style {
  font-size: 1.4rem;
  font-family: 'Bangers', cursive;
  padding: .7em;
  margin-left: 1em;
  text-align: center;
  color: #666A86;
  border: 2px solid #666A86;
}

.btn-style:hover,
.btn-style:focus {
  background: #666A86;
  color: #333;
}

.bs-white:hover,
.bs-white:focus {
  color: white;
}

.warning {
  color: #666A86;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.just-center {
  justify-content: center;
}

.row-no-wrap {
  display: flex;
  flex-flow: row nowrap;
}

.text-center {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.align-center {
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

/* ----- Modal ------ */
.modal {
  position: fixed;
  min-height: 40rem;
  height: 40rem;
  width: 50%;
  max-width: 40rem;
  background: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  overflow: hidden;
  z-index: 1000;
  perspective: 1200px;
  border-radius: .3em;
}

.modal .card {
  width: 100%;
  height: 100%;
  transition: transform ease-out 1s;
  transform-style: preserve-3d;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden
}

.card__face--front {
  background: #666A86;
}

.card__face--back {
  background: #666A86;
  transform: rotateY(180deg);
}

.modal .modal-exit {
  font-family: 'Raleway', sans-serif;
  display: block;
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  transition: all ease 150ms;
}

.modal .form-error {
  color: white;
  font-size: 1.3rem;
  text-align: justify;
}

.modal .modal-exit:hover {
  color: white;
}

.modal.show {
  min-height: 0 !important;
  animation-name: modal-in;
  animation-duration: 600ms;
  display: flex;
}

.modal.hide {
  min-height: 0 !important;
  animation-name: modal-out;
  animation-duration: 600ms;
  display: flex;
  width: 0;
  height: 0;
}

@keyframes modal-out {
  from {
    width: 50%;
    height: 40rem;
  }

  to {
    width: 0;
    height: 40rem;
  }
}

@keyframes modal-in {
  from {
    width: 0;
  }

  to {
    width: 50%;
  }
}

.modal h1 {
  text-align: center;
  letter-spacing: .2em;
  font-size: 2.3rem;
}

.modal form {
  width: 70%;
}

.modal form input {
  display: block;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: .2em;
  padding: 1.3em 1.3em 1.3em 3em;
  color: #333;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  position: relative;
}

.fa-span {
  position: absolute;
  font-size: 2rem;
  color: #333;
  opacity: 0.7;
  top: 8px;
  left: 10px;
}

.modal form input::-moz-placeholder {
  color: #333;
  letter-spacing: .2em;
}

.modal form input::placeholder {
  color: #333;
  letter-spacing: .2em;
}

.modal button {
  margin-top: 1em;
  border: none;
  background: transparent;
  color: white;
  border: 2px solid white;
}

.modal button:hover,
.modal button:focus {
  border: none;
  background: white;
  color: #666A86;
  border: 2px solid white;
}

/* Tables */
.my-table {
  font-size: 2.2rem;
  border-collapse: collapse;
}

.my-table th,
.my-table tr,
.my-table td {
  padding: .33em .65em;
  border: 1px solid #333333;
}

.my-table a {
  color: #7680c9;
}

@media only screen and (max-width: 475px) {
  .disclaimer {
    margin: 1em 2.5em;
  }
}

@media only screen and (max-width:700px) {
  .sf-article {
    margin: 0 2em;
  }
}

/* styles */
.slider {
  background: transparent;
  width: 100%;
  min-height: 30rem;
  /* margin-top: 6.5em; */
  padding: 4.5em;
  flex-wrap: nowrap;
}

/* .list-of-comics {
  position: relative;
} */

.sneak-peek {
  position: absolute;
  top: -3.5em;
  left: -2.2em;
  background: #666A86;
  min-width: 22em;
  text-align: center;
  color: white;
  padding: .5em;
  font-size: 1.9em;
  letter-spacing: .2em;
}

.slider .fas {
  color: white;
  font-size: 4rem;
  margin: .5em;
  cursor: pointer;
}

.image-slider-wrap {
  overflow: hidden;
  width: 80rem;
}

.image-slider {
  display: flex;
  align-items: flex-start;
}

.image-slider img {
  width: 200px;
  flex: 0 0 200px;
  margin: 0 .6em;
}


@media only screen and (max-width: 1300px) {
  .sneak-peek {
    position: absolute;
    top: -2.3em;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 900px) {
  .image-slider-wrap {
    width: 60rem;
  }
}

@media only screen and (max-width: 900px) {
  .image-slider-wrap {
    width: 40rem;
  }
}

@media only screen and (max-width: 500px) {
  .sneak-peek {
    min-width: 16.8em;
  }

  .image-slider-wrap {
    width: 20rem;
  }
}

/* ----- ADVERTSIZMENT FOR LIST/REGISTER ----- */
.list-adv {
  font-size: 2.3rem;
  padding: 4em 0;
}

.la-group {
  width: 60rem;
  text-align: justify;
}

.la-group p {
  margin: 0 1.5em 1em;
}

.links-lr a {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 1em;
}

/* ----- LAST ADDED ----- */

.last-added img {
  width: 100%;
  height: 100%;
}

.list-adv h2 {
  font-size: 2.4rem;
  color: #666A86;
  letter-spacing: .1em;
  margin-bottom: .7em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.l3-item {
  width: 180px;
  position: relative;
  margin-right: .5em;
  overflow: hidden;
}

@-moz-document url-prefix() {
  .l3-item {
    height: 100%;
  }
}

.l3-desc {
  position: absolute;
  z-index: 100;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: white;
  background: rgba(0, 0, 0, .55);
  padding-bottom: 5em;
  transition: all ease-in-out 250ms;
}

.l3-desc {
  transform: translateY(150%);
}

.l3-item:hover .l3-desc {
  transform: translateY(0);
}

.the-rest {
  font-family: 'Raleway', sans-serif;
  margin-top: .7em;
  font-size: 1.8rem;
}

.the-rest a {
  margin: 0;
  font-size: 1.8rem;
  display: inline;
  color: #666A86;
  font-weight: 700;
}

.vote {
  margin-top: 2em;
}

.click-here,
.vote-msg {
  margin-top: 1em;
}

.click-here a {
  color: #666A86;
  font-weight: 900;
}

@media only screen and (max-width: 810px) {
  .last-added {
    justify-content: center;
  }

  .l3-item {
    width: 250px;
    height: auto;
    margin-bottom: 1em;
  }

  .l3-desc {
    width: 250px;
    padding-bottom: 7em;
  }

  .the-rest,
  .the-rest a {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 510px) {
  .last-added {
    display: flex;
    flex-direction: column;
  }

  .l3-item {
    width: 250px;
    -moz-height: auto;
    height: auto;
    margin-bottom: 1em;
  }
}

/* ----- FILTER SECTION ----- */

.section-filter {
  background-color: rgba(102, 106, 134, 0.6);
  padding: 5em 0;
  align-items: flex-start;
}

.sf-article {
  width: 700px;
  text-align: center;
}

.sf-article h3 {
  padding-bottom: 2em;
  letter-spacing: .5em;
  color: white;
  text-shadow: 3px 4px 3px grey;
}

.section-filter a {
  color: black;
  font-size: 2rem;
  padding-right: .7em;
  display: inline-block;
  line-height: 1.5em;
}

.section-filter a:nth-child(even) {
  font-size: 3rem;
}

.section-filter a:nth-child(5n+2) {
  font-size: 2.7rem;
}

.filter:hover,
.filter:focus {
  color: white;
}

/* ----- ABOUT ME ----- */
.img-circle img {
  border-radius: 50%;
  width: 300px;
}

/* ---- ADMIN PANEL ---- */
.add-comic {
  font-size: 1.7rem;
}

.update-comic {
  align-self: flex-start;
}

.add-comic h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin: 1em 0;
}

.input-group {
  margin: 1em 0;
  width: 70%;
}

.input-group input,
.input-group textarea {
  width: 30rem;
  height: 3em;
}

.input-group textarea {
  height: 10em;
  max-height: 30em;
  max-width: 30em;
  min-width: 100%;
  min-height: 100%;
}

.input-group input[type='text'],
textarea {
  border: 1px solid #D7D7D7;
}

.input-group label {
  display: block;
  font-weight: 700;
  color: #666A86;
  padding-bottom: .7em;
}

.input-group p {
  padding-left: 1em;
  margin: 1em;
}

.form-error {
  color: crimson;
}

.change-btn {
  display: block;
  padding: 1.4em;
  border: none;
  background-color: #666A86;
  color: white;
  text-align: center;
  margin: 1em 0;
  font-weight: 700;
  letter-spacing: .2em;
}

.change-btn:hover,
.change-btn:focus {
  background-color: #333;
}

.fstMultipleMode .fstControls {
  width: 15em !important;
}

.fstResultItem,
.fstChoiceItem,
.fstMultipleMode .fstQueryInput {
  font-size: 1em !important;
}

.panel-navigation a {
  font-size: 2.5rem;
  margin: .5em 1em;
  color: #666a86;
  padding: 1em;
}

.chart-container {
  width: 80em;
  height: 50em;
  margin: 0 auto;
}

.ct-label {
  font-size: 2rem;
}

.ct-series-a .ct-bar {
  stroke: #6b0392 !important;
}

.ct-series-b .ct-bar {
  stroke: #666a86 !important;
}

.series-a,
.series-b {
  position: relative;
  font-size: 2.1rem;
}

.series-a:before,
.series-b:before {
  position: absolute;
  left: -20px;
  top: 6px;
  content: '';
  display: block;
  width: 15px;
  height: 15px;
}

.series-a:before {
  background: #6b0392;
}

.series-b:before {
  background: #666A86;
}

/* -------- BROWSE ------- */

.browse-container {
  justify-content: center;
  margin: 5em 0;
}

.heading {
  letter-spacing: .2em;
  font-size: 4rem;
  color: #666A86;
}

.filters {
  /* flex: 1 0 25%; */
  width: 600px;
  margin-left: 10em;
}

.filters ul {
  font-size: 2.5rem;
}

.filters>ul>li {
  padding: .5em;
  display: flex;
  flex-direction: column;
}

.filters>ul>li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.title {
  color: #666A86;
  padding: .5em 0;
}

.filters span {
  margin-right: auto;
}

.sub-items {
  font-size: 2rem !important;
  overflow: hidden;
}

.sub-items li {
  margin-top: .5em;
  margin-bottom: .75em;
}

.title {
  display: flex;
  cursor: pointer;
}

.title span {
  margin-right: auto;
}

.title i.go {
  transform: rotate(180deg);
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: .33em;
  margin-top: .33em;
}

.custom-checkbox input {
  display: none;
  opacity: 0;
}

.checkmark {
  position: absolute;
  display: block;
  width: 1.3em;
  height: 1.3em;
  background: transparent;
  border: 1px solid #333;
  right: .5em;
  top: 0;
  border-radius: 3px;
}

.custom-checkbox input:checked~.checkmark:after {
  position: absolute;
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: .1em;
  top: 1px;
  color: #666A86;
}

.comics,
.wrapper-for-comics {
  width: 100%;
  font-size: 1.5rem;
}

.comic {
  /* flex: 1 0 20%; */
  width: 300px;
  margin: 0 1em;
}

.comic img {
  width: 200px;
  margin: 1em 0;
}

.comic h2 {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: .5em;
}

.scroll {
  width: 100%;
  height: 15em;
  overflow: auto;
  text-align: justify;
}

.info {
  font-size: 1.8rem;
  padding: .5em 0;
  color: #666A86;
}

.ar-btn {
  margin: 1.5em 0;
}

.ar-btn a:first-child {
  margin-left: 0;
}

.comics-control {
  margin: 3em 0;
}

.comics-control a:hover,
.comics-control a:focus,
.comics-control a:active {
  color: #333;
}

.one-row {
  margin: 1em 0;
}

.one-row img {
  width: 100px;
}

.contactSuccess {
  display: inline-block;
  margin: 1em 0;
  color: #666a86;
  font-weight: 900;
}

@media only screen and (max-width: 770px) {
  .browse-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .filters {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .comics,
  .wrapper-for-comics {
    min-height: 80vmax;
    min-width: 50vmax;
  }
}