<footer>
  <div class="footer-picture flex-row center">
    <ul class="links">
      <li><a href='#'>Home</a></li>
      <li><a href='#'>Browse</a></li>
      <li><a href='#'>My List</a></li>
      <li><a href='#'>Login</a></li>
      <li><a href='#'>Register</a></li>
    </ul>

    <div class="disclaimer">
      <p>Design by ©
        <strong>Olja Ivkovic</strong></p>
      <p>This site is a project for <strong>ICT College</strong>, made for educational purposes. I don't intend to
        profit nor gain any rights. All
        rights go to their rightful owners.</p>

      <a href="https://github.com/Chibi97" class="fab fa-github"></a>
      <a href="https://www.instagram.com/?hl=sr" class="fab fa-instagram"></a>
      <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
    </div>
  </div>
</footer>