@import '../../../theme.scss';

.footer-bg {
  background: url('../../../assets/images/footer-wallp.png');
  background-size: cover;
}

footer {
  background: #333;
  color: white;

  .disclaimer {
    margin-left: 3.5em;
    .fab {
      font-size: 1.5rem;
      color: mat-color($comics-primary);
      margin: 1em 0;
      padding-right: .5em;
    }
  }

  p {
    font-size: 1.15rem;
  }

  .links li {
    border-bottom: 1px solid gray;
    padding: 1em 0;
    display: flex;

    a {
      color: white;
      font-size: 1.1rem;
      &:hover, &:focus {
        color: mat-color($comics-primary);
        font-weight: bold;
      }
    }

  }
  .footer-image {
    background-image: url("../../../assets/images/footer-wallp.png");
    padding: 4em 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 15%;

    strong {
      color: mat-color($comics-primary);
      font-weight: bold;
    }
  }
}

